# Ignore everything
*

# Explicitly include these files to be tracked
!.gitignore
!.tmux.conf
!.bashrc
!.vimrc

# Some styling files
!.vim/colors/gruvbox.vim

# And these folders
!.vim
!.vim/colors

!**/
!*.lua
!*.json
!*.md
!*.toml